@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');
@import "tailwindcss";

@theme {
  --font-bellefari: "Bellefair", serif;
  --font-condensed: "Barlow Condensed", sans-serif;
  --animate-ping-shadow1: ping-shadow1 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-ping-shadow2: ping-shadow2 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes ping-shadow1 {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.85);
  }
  75%,
  100% {
    box-shadow: 0px 0px 0px 40px rgba(255, 255, 255, 0);
  }}
@keyframes ping-shadow2 {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.85);
  }
  75%,
  100% {
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0);
  }
}
@layer components{
  .py{
  @apply pt-[200px] pb-[100px];
}
}
